<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="EN" lang="EN" dir="ltr">
<head profile="http://gmpg.org/xfn/11">
<title>Student Release System | Parents</title>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1" />
<meta http-equiv="imagetoolbar" content="no" />
<link rel="stylesheet" href="styles/layout.css" type="text/css" />
</head>
<body id="top">
<div class="wrapper col1">
  <div id="header" class="clear">
    <div class="fl_left">
      <h1><a href="index.html">Student Release</a></h1>
      <p>Releasing Students Safely Since 2014</p>
    </div>
    <div class="fl_right"><a href="#"><img src="" alt="" /></a></div>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col1">
  <div id="topbar" class="clear">
    <ul id="topnav">
      <li><a href="index.html">Home</a></li>
	  <li><a href="pickups.html">Pickups</a></li>
      <li class="active"><a href="parents.html">Parents</a></li>
      <li><a href="faq.html">FAQ</a></li>
      <li><a href="admin.html">Admin</a></li>
      <li><a href="contact.html">Contact</a></li>
	  </ul>
    <form action="#" method="post" id="search">
      <fieldset>
        <legend>Site Search</legend>
        <input type="text" value="Search Our Website&hellip;" onfocus="this.value=(this.value=='Search Our Website&hellip;')? '' : this.value ;" />
        <input type="image" id="go" src="images/search.gif" alt="Search" />
      </fieldset>
    </form>
  </div>
</div>
<!-- ####################################################################################################### -->
<div class="wrapper col2">
  <div id="container" class="clear">
    <!-- ####################################################################################################### -->
    <h2>Parents</h2>
	
	
	<p>To edit or add a new vehicle to our system, please fill out the following form.</p>
    <form class="pure-form pure-form-stacked">
    <fieldset>
        <legend>Legend</legend>

        <div>
            <div>
                <label for="first-name">Family Surname</label>
                <input id="first-name" type="text">
            </div>
			
			<div>
                <label for="first-name">Email Address</label>
                <input id="first-name" type="text">
            </div>
			
			<div>
                <label for="first-name">Phone Number</label>
                <input id="first-name" type="text">
            </div>
			
			<div>
                <label for="first-name">Student First Name</label>
                <input id="first-name" type="text">
            </div>
			
			<div>
                <label for="first-name">Student Last Name</label>
                <input id="first-name" type="text">
            </div>
			
			<div>
                <label for="first-name">Teacher</label>
                <input id="first-name" type="text">
            </div>
			
			<div>
                <label for="first-name">Parent First Name</label>
                <input id="first-name" type="text">
            </div>
			
			<div>
                <label for="first-name">Parent Last Name</label>
                <input id="first-name" type="text">
            </div>
			
			<div>
                <label for="first-name">Parent Mobile Telephone Number</label>
                <input id="first-name" type="text">
            </div>
			
			<div>
                <label for="first-name">Vehicle Make</label>
                <input id="first-name" type="text">
            </div>
			
			<div>
                <label for="first-name">Vehicle Model</label>
                <input id="first-name" type="text">
            </div>
			
			<div>
                <label for="first-name">Vehicle Year</label>
                <input id="first-name" type="text">
            </div>
			
			<div>
                <label for="first-name">Vehicle Color</label>
                <input id="first-name" type="text">
            </div>
			
			<div>
                <label for="first-name">License Plate Number</label>
                <input id="first-name" type="text">
            </div>

            <div class="pure-u-1 pure-u-md-1-3">
                <label for="state">License Plate State</label>
                <select id="state" class="pure-input-1-2">
                    <option>AL</option>
                    <option>AK</option>
                    <option>AZ</option>
					<option>AR</option>
                    <option>CA</option>
                    <option>CO</option>
					<option>CT</option>
                    <option>DE</option>
                    <option>FL</option>
					<option>GA</option>
                    <option>HI</option>
                    <option>ID</option>
					<option>IL</option>
                    <option>IN</option>
                    <option>IA</option>
					<option>KS</option>
                    <option>KY</option>
                    <option>LA</option>
					<option>ME</option>
                    <option>MD</option>
                    <option>MA</option>
					<option>MI</option>
                    <option>MN</option>
                    <option>MS</option>
					<option>MO</option>
                    <option>MT</option>
                    <option>NE</option>
					<option>NV</option>
                    <option>NH</option>
                    <option>NJ</option>
					<option>NM</option>
                    <option>NY</option>
                    <option>NC</option>
					<option>ND</option>
                    <option>OH</option>
                    <option>OK</option>
					<option>OR</option>
                    <option>PA</option>
                    <option>RI</option>
					<option>SC</option>
                    <option>SD</option>
                    <option>TN</option>
					<option>TX</option>
                    <option>UT</option>
                    <option>VT</option>
					<option>VA</option>
                    <option>WA</option>
                    <option>WV</option>
					<option>WI</option>
                    <option>WY</option>
					
					
                </select>
            </div>
        </div>

        

        <button type="submit" >Submit</button>
    </fieldset>
</form>
	
	
    <!-- ####################################################################################################### -->
  </div>
</div>
<!-- ####################################################################################################### -->
<div 
<!-- ####################################################################################################### -->
<div class="wrapper">
  <div id="copyright" class="clear">
    <p class="fl_left">Copyright &copy; 2014 - All Rights Reserved - <a href="#">Student Release System</a></p>
  </div>
</div>
</body>
</html>